.player_body {
  display: flex;
}
.toogle {
  color: white;
  position: absolute;
  left: 95vw;
  cursor: pointer;
  font-family: monospace;
  font-size: 30px;
  z-index: 1;
}

@media only screen and (min-width: 620px) {
  .toogle {
    display: none;
  }
}
